* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    color: #D3D3D3;
    text-align: center;
    margin-bottom: 20px;
}

#add-task {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

#tasks {
    padding: 10px;
    width: 300px;
}

#priority {
    padding: 10px;
}

#save-task {
    padding: 10px 20px;
    cursor: pointer;
}

#board {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

#todo, #doing, #done {
    background: linear-gradient(to bottom, #928e8e, #a9a9a9);
    padding: 15px;
    border-radius: 8px;
    min-width: 300px;
    min-height: 400px;
}

h3 {
    margin-bottom: 15px;
    text-align: center;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-card {
    color: white;
    background-color: rgb(71, 71, 71);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: move;
}